<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1><%= @restaurant.name %></h1>
      <hr>
      <p> Address: <%= @restaurant.address %> </p>
      <hr>
      <p> Phone: <%= @restaurant.phone_number %> </p>
      <hr>
      <p> Category: <%= @restaurant.category %> </p>
      <h4>Review</h4>
       <% @restaurant.reviews.each do |review| %>
      <li><%= review.content%> - <%= review.rating %></li>
    <% end %>

      <br><br>
      <%= link_to new_restaurant_review_path(@restaurant) do%>
        <i class ="fa fa-comment"></i>
      <% end  %>
    </div>
  </div>
</div>


 <div class="d-flex justify-content-center">
      <%= link_to "Add a rating", new_restaurant_review_path(@restaurant), class:"btn btn-primary" %>
      <%= link_to "Main page", restaurants_path(@restaurant), class:"btn btn-success ml-3" %>
  </div>
